body{background-color: black;}
div{
    
}
h1{font-family: "Libre Baskerville", serif;
    color:white;
    text-align: center;
    font-size: 20px;
}
h2{font-family: "Libre Baskerville", serif;
    color:white;
    text-align: center;
    font-size: 10px;}
img{border: 5px solid #ffffff;
    width: 100%;
}
.align{
    width: 50%;
    margin-left: 25%;
    margin-top: 7%;
}